:root {
    --color-black: #000000;
    --color-primary: #34547a;
    --color-secondary: #727272;
    --color-light-gray: #edeef0;
    --color-white: #ffffff;
    
    --font-size: 16px;
    --font-family: 'Roboto', sans-serif;

    --letter-spacing: 0.1em;

    --line-height: 1.64;
    --line-height-lg: 1.8;
    --line-height-sm: 1.4;
    --container-primary: 1110px;
    --container-secondary: 540px;



    --gap: 20px;
    --gap-sm: calc(var(--gap) * 0.5);
    --gap-lg: calc(var(--gap) * 1.5);
    --gap-xl: calc(var(--gap) * 2);

    --letter-spacing: calc(var(--gap) / 10);
    --letter-spacing-sm: calc(var(--gap) / 40);

    --font-weight-primary: 500;
    --font-weight-secondary: 400;

    --max-width: 1920px;
    --middle-width: 1110px;
    --min-width: 370px
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

html {
    width: var(--max-width);
    height: 2464px;
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight-secondary);
    line-height: var(--line-height);
    margin: 0 auto;
}

body {
    margin: 0;
}

h1 {
    font-size: 3rem;
    font-weight: var(--font-weight-primary);
    line-height: var(--line-height-sm);
}

h2 {
    font-size: 2rem;
    font-weight: var(--font-weight-primary);
    line-height: var(--line-height-sm);
}

h3 {
    font-size: 1.5rem;
    font-weight: var(--font-weight-secondary);
}

.container {
    width: min(100% - var(--gap-xl), var(--container-primary));
    margin-inline: auto;
}

.container-sm {
    width: min(100% - var(--gap-xl), var(--container-secondary));
    margin-inline: auto;
}

.header {
    background-color: var(--color-light-gray);
    padding-top: 79px;
    padding-bottom: 141px;
}

a {
    text-decoration: none;
    color: var(--color-black);
}


.navbar {
    margin-bottom: 162px;
}

.navbar__list {
    display: flex;
    flex-wrap: wrap;
    columns: var(--gap);
    margin-left: -0.76em;
}

.navbar__link {
    display: block;
    padding: 0.5em 0.75em;
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
}
.navbar__link--active{
    color: var(--color-primary);
    font-weight: var(--font-weight-primary);
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: var(--container-secondary);
}

.hero__title {
    margin-bottom: 60px;
    margin-left: -2px;
}

.hero__description {
    color: var(--color-secondary);
    margin-bottom: 65px;
}

.hero__button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 225px;
    min-height: 65px;
    background-color: var(--color-primary);
    text-transform: uppercase;
    color: var(--color-white);
    padding: 0.5em;
}


.about {
    background-color: var(--color-white);
    padding-top: 112px;
    padding-bottom: 100px;
    text-align: center;
}
.about__title {
    margin-bottom: 50px;
}
.about__description {
    color: var(--color-secondary);
    font-weight: var(--font-weight-secondary);

}
.process {
    background-color: var(--color-light-gray);
    padding-top: 100px;
    padding-bottom: 57px;
    text-align: center;
}
.process__title {
    margin-bottom: 50px;

}
.process__description {
    color: var(--color-secondary);

}
.experience {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding-bottom: 100px;
    padding-top: 91.78px;
}
.experience__container {
    display: flex;
    justify-content: space-between;
    gap: var(--gap-xl);
}
.experience-item {
    display: flex;
    gap: var(--gap)
}
.experience-item__image {
    order: -1;
}
.experience-item__number {
    font-size: 1.3125rem;
    font-weight: var(--font-weight-primary);
    margin-top: -5px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.process__video {
    margin-top: 57px;
    margin-bottom: 100px; 
    object-fit: cover;
    border: 0;
}
.footer {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding-top: 39.41px;
    padding-bottom: 40px;
}
.footer__title {
    padding-bottom: 5px;
    font-weight: var(--font-weight-primary);
    letter-spacing: var(--letter-spacing-sm)
}