$font-size: 16px;
$font-family: 'Roboto', sans-serif;

$letter-spacing: 0.1em;

$line-height: 1.64;
$line-height-lg: 1.8;
$line-height-sm: 1.4;
$container-primary: 1110px;
$container-secondary: 540px;



$gap: 20px;
$gap-sm: calc($gap * 0.5);
$gap-lg: calc($gap * 1.5);
$gap-xl: calc($gap * 2);

$letter-spacing: calc($gap / 10);
$letter-spacing-sm: calc($gap / 40);

$font-weight-primary: 500;
$font-weight-secondary: 400;

$ul: 1380px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 480px;
$vs: 420px;
$us: 360px;